.fontClass {
    /*font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic; */

    font: italic bold 28px sanf-serif;
}

.textClass {
    text-align: center;
    color: red;
    text-decoration: underline;
    line-height: 1.3;
    text-transform: lowercase;
}
a {
    text-decoration: none;
}

body{
    /*background-color: lightcyan;
    background-image: url("../img/5.jpg");
    color: black;
    background-repeat: no-repeat;
    background-position: top center;*/

    background: lightcyan top center no-repeat;
}

div {
    width: 400px; background-color: darkblue; color: white;
}

.borderClass {
    border-top: 2px solid red;
    border-left: 5px dotted green;
}