*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #e2e7ec;
}

.element{
    width: 600px;
    height: 375px;
    margin: 20px auto;
    background: url("../img/img3.png") no-repeat,
                url("../img/img2.png") no-repeat,
                url("../img/img1.jpg") no-repeat;

    background-size: 300px, 150px, auto;
    background-position: 250px 200px, 10px 150px, center;
}

