*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #e2e7ec;
}

.element{
    width: 300px;
    height: 250px;
    margin: 20px auto;
    background: #fff url('../img/img.jpg') no-repeat;
}

.element2 {
    border: 20px solid rgb(0,0,0,0.5);
    padding: 20px;
    background-size: 300px;
}